extends layout

block content
  .welcomeBox
    h1 Welcome user!

    form(method='POST', action='/makeTodo')
      input(type='text', name='todoDesc', placeholder='Add Task')

  .listBox
    each val in lists
      h1= val.title
      .todo
        each todo in val.todos
          .description= todo.description
