extends layout

block content
  h1 Login
  .loginBox
    form.loginForm(method='post', action='/users/login')
      input(type='text', name='username', placeholder='Email')
      input(type='text', name='password', placeholder='Password')
      button(type='submit') login
