extends layout

block content
  h1 Sign YUP!
  .registerBox
    form.loginForm(method='post', action='/users/register')
      input(type='text', name='email', placeholder='Sign up here!')
      input(type='text', name='password', placeholder='Password')
      button(type='submit') Sign up
