extends layout

block content
  h1 Sign UP!
  .registerBox
    .form
      form.login-form(method='post', action='/users/register')
        input(type='text', name='username' placeholder='username')
        input(type='password', name='password' placeholder='password')
        button(type='submit') sign me up
        p.message
          | Already have an account?
          br
          a(href='/login') Login here
